<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="c, loop : ${home}">
<table border="1">
    <tr>
        <th>#</th>
        <th>District</th>
    </tr>
    <tbody>
    <tr>
        <td th:text="${loop.count}"></td>
        <td th:text="${c.name}"></td>
    </tr>
    </tbody>
</table>
    <span><a th:if="${home.hasPrevious()}" th:href="@{/home (page = ${home.number - 1})}"><<<<</a></span>
    <span th:text="${home.number + 1}"></span>/<span th:text="${home.totalPages}"></span>
    <span><a th:if="${home.hasNext()}" th:href="@{/home (page = ${home.number + 1})}">>>>></a></span>
</div>
</body>
</html>