<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Student List</h2>

    <span>
        <a href="/create" class="btn btn-success" style="left: auto">creat</a>
        <form method="post" action="/find">
            <input type="text" name="nameFind">
            <button type="submit" class="btn btn-primary">Find</button>
        </form>
    </span>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Stt</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>address</th>
            <th>Phone number</th>
            <th>Class</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c,loop: ${home}">
            <td th:text="${loop.count}"></td>
            <td><a th:href="@{/viewDetail/{id}(id=${c.id})}" th:text="${c.name}"></a></td>
            <td th:text="${c.date}"></td>
            <td th:text="${c.address}"></td>
            <td th:text="${c.phoneNumber}"></td>
            <td th:text="${c.classRoom.nameClass}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${c.id})}" class="btn btn-warning">edit</a>
                <a th:href="@{/delete/{id}(id=${c.id})}" class="btn btn-danger">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <span><a th:if="${home.hasPrevious()}" th:href="@{/home (page = ${home.number - 1})}"><<<<</a></span>
    <span th:text="${home.number + 1}"></span>/<span th:text="${home.totalPages}"></span>
    <span><a th:if="${home.hasNext()}" th:href="@{/home (page = ${home.number + 1})}">>>>></a></span>
</div>
</body>
</html>